/* Reset */
.s7nSkin table, .s7nSkin tbody, .s7nSkin a, .s7nSkin img, .s7nSkin tr, .s7nSkin div, .s7nSkin td, .s7nSkin iframe, .s7nSkin span, .s7nSkin *, .s7nSkin .mceText {border:0; margin:0; padding:0; background:transparent; white-space:nowrap; text-decoration:none; font-weight:normal; cursor:default; color:#000; vertical-align:baseline; width:auto; border-collapse:separate; text-align:left}
.s7nSkin a:hover, .s7nSkin a:link, .s7nSkin a:visited, .s7nSkin a:active {text-decoration:none; font-weight:normal; cursor:default; color:#000}
.s7nSkin table td {vertical-align:middle}

/* Containers */
.s7nSkin table {
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	background: url(img/grey_background.png) repeat-x;
}
.s7nSkin iframe {display:block; background:#FFF}
.s7nSkin .mceToolbar {height:26px}

/* External */
.s7nSkin .mceExternalToolbar {position:absolute; border:1px solid #CBCBCB; border-bottom:0; display:none}
.s7nSkin .mceExternalToolbar td.mceToolbar {padding-right:13px;}
.s7nSkin .mceExternalClose {position:absolute; top:3px; right:3px; width:7px; height:7px; background:url(../../img/icons.gif) -820px 0}

/* Layout */
.s7nSkin table.mceLayout {border:0; border-left:1px solid #CBCBCB; border-right:1px solid #CBCBCB}
.s7nSkin table.mceLayout tr.mceFirst td {
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	border-top:1px solid #CBCBCB}
.s7nSkin table.mceLayout tr.mceLast td {border-bottom:1px solid #CBCBCB}
.s7nSkin table.mceToolbar, .s7nSkin tr.mceFirst .mceToolbar tr td, .s7nSkin tr.mceLast .mceToolbar tr td {border:0; margin:0; padding:0}
.s7nSkin .mceIframeContainer {border-top:1px solid #CBCBCB; border-bottom:1px solid #CBCBCB}
.s7nSkin .mceStatusbar {display:block; font-family:'MS Sans Serif',sans-serif,Verdana,Arial; font-size:9pt; line-height:16px; overflow:visible; color:#000; height:20px}
.s7nSkin .mceStatusbar div {float:left; padding:2px}
.s7nSkin .mceStatusbar a.mceResize {display:block; float:right; background:url(../../img/icons.gif) -800px 0; width:20px; height:20px; cursor:se-resize}
.s7nSkin .mceStatusbar a:hover {text-decoration:underline}
.s7nSkin table.mceToolbar {margin-left:0}
.s7nSkin .mceToolbar .mceToolbarStart span {display:block; width:1px; height:22px; margin-left:3px;}
.s7nSkin .mceToolbar td.mceFirst span {margin:0}
.s7nSkin .mceToolbar .mceToolbarEnd span {display:block; width:1px; height:22px}
.s7nSkin .mceToolbar .mceToolbarEndListBox span, .s7nSkin .mceToolbar .mceToolbarStartListBox span {display:none}
.s7nSkin span.mceIcon, .s7nSkin img.mceIcon {display:block; width:20px; height:20px}
.s7nSkin .mceIcon {background:url(../../img/icons.gif) no-repeat 20px 20px}
.s7nSkin td.mceCenter {text-align:center;}
.s7nSkin td.mceCenter table {margin:0 auto; text-align:left;}
.s7nSkin td.mceRight table {margin:0 0 0 auto;}

/* Button */
.s7nSkin .mceButton {display:block; 
	width: 20px; 
	height: 20px; 
	cursor: default; 
	padding: 1px 2px; 
	margin: 1px; 
	background-image: url(img/butt2.png);
	background-position: left top;
	background-repeat: repeat-x;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	background-color: #CBCBCB;
	border: 1px solid #b8b8b8;}
.s7nSkin a.mceButton span, .s7nSkin a.mceButton img {margin-left:1px}
.s7nSkin .mceOldBoxModel a.mceButton span, .s7nSkin .mceOldBoxModel a.mceButton img {margin:0 0 0 1px}
.s7nSkin a.mceButtonEnabled:hover {background-color:#B2BBD0; background-position:0 -22px}
.s7nSkin a.mceButtonActive, .s7nSkin a.mceButtonSelected {background-image: none}
.s7nSkin .mceButtonDisabled .mceIcon {opacity:0.3; -ms-filter:'alpha(opacity=30)'; filter:alpha(opacity=30)}
.s7nSkin .mceButtonLabeled {width:auto}
.s7nSkin .mceButtonLabeled span.mceIcon {float:left}
.s7nSkin span.mceButtonLabel {display:block; font-size:10px; padding:4px 6px 0 22px; font-family:Tahoma,Verdana,Arial,Helvetica}
.s7nSkin .mceButtonDisabled .mceButtonLabel {color:#888}

/* Separator */
.s7nSkin .mceSeparator {display:block; width:5px; height:22px}

/* ListBox */
.s7nSkin .mceListBox {margin-left:3px}
.s7nSkin .mceListBox, .s7nSkin .mceListBox a {display:block}
.s7nSkin .mceListBox .mceText {padding-left:4px; text-align:left; width:70px; border:1px solid #b3c7e1; border-right:0; background:#eaf2fb; font-family:Tahoma,Verdana,Arial,Helvetica; font-size:11px; height:20px; line-height:20px; overflow:hidden}
.s7nSkin .mceListBox .mceOpen {width:14px; height:22px; background:url(img/button_bg.png) -66px 0}
.s7nSkin table.mceListBoxEnabled:hover .mceText, .s7nSkin .mceListBoxHover .mceText, .s7nSkin .mceListBoxSelected .mceText {background:#FFF}
.s7nSkin table.mceListBoxEnabled:hover .mceOpen, .s7nSkin .mceListBoxHover .mceOpen, .s7nSkin .mceListBoxSelected .mceOpen {background-position:-66px -22px}
.s7nSkin .mceListBoxDisabled .mceText {color:gray}
.s7nSkin .mceListBoxMenu {overflow:auto; overflow-x:hidden}
.s7nSkin .mceOldBoxModel .mceListBox .mceText {height:22px}
.s7nSkin select.mceListBox {font-family:Tahoma,Verdana,Arial,Helvetica; font-size:12px; border:1px solid #b3c7e1; background:#FFF;}

/* SplitButton */
.s7nSkin .mceSplitButton, .s7nSkin .mceSplitButton a, .s7nSkin .mceSplitButton span {display:block; height:22px}
.s7nSkin .mceSplitButton {background:url(img/button_bg.png)}
.s7nSkin .mceSplitButton a.mceAction {width:22px}
.s7nSkin .mceSplitButton span.mceAction {width:22px; background:url(../../img/icons.gif) 20px 20px}
.s7nSkin .mceSplitButton a.mceOpen {width:10px; background:url(img/button_bg.png) -44px 0}
.s7nSkin .mceSplitButton span.mceOpen {display:none}
.s7nSkin table.mceSplitButtonEnabled:hover a.mceAction, .s7nSkin .mceSplitButtonHover a.mceAction, .s7nSkin .mceSplitButtonSelected {background:url(img/button_bg.png) 0 -22px}
.s7nSkin table.mceSplitButtonEnabled:hover a.mceOpen, .s7nSkin .mceSplitButtonHover a.mceOpen, .s7nSkin .mceSplitButtonSelected a.mceOpen {background-position:-44px -44px}
.s7nSkin .mceSplitButtonDisabled .mceAction {opacity:0.3; -ms-filter:'alpha(opacity=30)'; filter:alpha(opacity=30)}
.s7nSkin .mceSplitButtonActive {background-position:0 -44px}

/* ColorSplitButton */
.s7nSkin div.mceColorSplitMenu table {background:#FFF; border:1px solid gray}
.s7nSkin .mceColorSplitMenu td {padding:2px}
.s7nSkin .mceColorSplitMenu a {display:block; width:9px; height:9px; overflow:hidden; border:1px solid #808080}
.s7nSkin .mceColorSplitMenu td.mceMoreColors {padding:1px 3px 1px 1px}
.s7nSkin .mceColorSplitMenu a.mceMoreColors {width:100%; height:auto; text-align:center; font-family:Tahoma,Verdana,Arial,Helvetica; font-size:11px; line-height:20px; border:1px solid #FFF}
.s7nSkin .mceColorSplitMenu a.mceMoreColors:hover {border:1px solid #0A246A; background-color:#B6BDD2}
.s7nSkin a.mceMoreColors:hover {border:1px solid #0A246A}
.s7nSkin .mceColorPreview {margin-left:2px; width:16px; height:4px; overflow:hidden; background:#9a9b9a;overflow:hidden}
.s7nSkin .mce_forecolor span.mceAction, .s7nSkin .mce_backcolor span.mceAction {height:15px;overflow:hidden}

/* Menu */
.s7nSkin .mceMenu {position:absolute; left:0; top:0; z-index:1000; border:1px solid #CBCBCB}
.s7nSkin .mceNoIcons span.mceIcon {width:0;}
.s7nSkin .mceNoIcons a .mceText {padding-left:10px}
.s7nSkin .mceMenu table {background:#FFF}
.s7nSkin .mceMenu a, .s7nSkin .mceMenu span, .s7nSkin .mceMenu {display:block}
.s7nSkin .mceMenu td {height:20px}
.s7nSkin .mceMenu a {position:relative;padding:3px 0 4px 0}
.s7nSkin .mceMenu .mceText {position:relative; display:block; font-family:Tahoma,Verdana,Arial,Helvetica; color:#000; cursor:default; margin:0; padding:0 25px 0 25px; display:block}
.s7nSkin .mceMenu span.mceText, .s7nSkin .mceMenu .mcePreview {font-size:11px}
.s7nSkin .mceMenu pre.mceText {font-family:Monospace}
.s7nSkin .mceMenu .mceIcon {position:absolute; top:0; left:0; width:22px;}
.s7nSkin .mceMenu .mceMenuItemEnabled a:hover, .s7nSkin .mceMenu .mceMenuItemActive {background-color:#dbecf3}
.s7nSkin td.mceMenuItemSeparator {background:#DDD; height:1px}
.s7nSkin .mceMenuItemTitle a {border:0; background:#E5EFFD; border-bottom:1px solid #CBCBCB}
.s7nSkin .mceMenuItemTitle span.mceText {color:#000; font-weight:bold; padding-left:4px}
.s7nSkin .mceMenuItemDisabled .mceText {color:#888}
.s7nSkin .mceMenuItemSelected .mceIcon {background:url(../default/img/menu_check.gif)}
.s7nSkin .mceNoIcons .mceMenuItemSelected a {background:url(../default/img/menu_arrow.gif) no-repeat -6px center}
.s7nSkin .mceMenu span.mceMenuLine {display:none}
.s7nSkin .mceMenuItemSub a {background:url(../default/img/menu_arrow.gif) no-repeat top right;}

/* Progress,Resize */
.s7nSkin .mceBlocker {position:absolute; left:0; top:0; z-index:1000; opacity:0.5; -ms-filter:'alpha(opacity=30)'; filter:alpha(opacity=50); background:#FFF}
.s7nSkin .mceProgress {position:absolute; left:0; top:0; z-index:1001; background:url(../default/img/progress.gif) no-repeat; width:32px; height:32px; margin:-16px 0 0 -16px}
.s7nSkin .mcePlaceHolder {border:1px dotted gray}

/* Formats */
.s7nSkin .mce_formatPreview a {font-size:10px}
.s7nSkin .mce_p span.mceText {}
.s7nSkin .mce_address span.mceText {font-style:italic}
.s7nSkin .mce_pre span.mceText {font-family:monospace}
.s7nSkin .mce_h1 span.mceText {font-weight:bolder; font-size: 2em}
.s7nSkin .mce_h2 span.mceText {font-weight:bolder; font-size: 1.5em}
.s7nSkin .mce_h3 span.mceText {font-weight:bolder; font-size: 1.17em}
.s7nSkin .mce_h4 span.mceText {font-weight:bolder; font-size: 1em}
.s7nSkin .mce_h5 span.mceText {font-weight:bolder; font-size: .83em}
.s7nSkin .mce_h6 span.mceText {font-weight:bolder; font-size: .75em}

/* Theme */
.s7nSkin span.mce_bold {background-position:0 0}
.s7nSkin span.mce_italic {background-position:-60px 0}
.s7nSkin span.mce_underline {background-position:-140px 0}
.s7nSkin span.mce_strikethrough {background-position:-120px 0}
.s7nSkin span.mce_undo {background-position:-160px 0}
.s7nSkin span.mce_redo {background-position:-100px 0}
.s7nSkin span.mce_cleanup {background-position:-40px 0}
.s7nSkin span.mce_bullist {background-position:-20px 0}
.s7nSkin span.mce_numlist {background-position:-80px 0}
.s7nSkin span.mce_justifyleft {background-position:-460px 0}
.s7nSkin span.mce_justifyright {background-position:-480px 0}
.s7nSkin span.mce_justifycenter {background-position:-420px 0}
.s7nSkin span.mce_justifyfull {background-position:-440px 0}
.s7nSkin span.mce_anchor {background-position:-200px 0}
.s7nSkin span.mce_indent {background-position:-400px 0}
.s7nSkin span.mce_outdent {background-position:-540px 0}
.s7nSkin span.mce_link {background-position:-500px 0}
.s7nSkin span.mce_unlink {background-position:-640px 0}
.s7nSkin span.mce_sub {background-position:-600px 0}
.s7nSkin span.mce_sup {background-position:-620px 0}
.s7nSkin span.mce_removeformat {background-position:-580px 0}
.s7nSkin span.mce_newdocument {background-position:-520px 0}
.s7nSkin span.mce_image {background-position:-380px 0}
.s7nSkin span.mce_help {background-position:-340px 0}
.s7nSkin span.mce_code {background-position:-260px 0}
.s7nSkin span.mce_hr {background-position:-360px 0}
.s7nSkin span.mce_visualaid {background-position:-660px 0}
.s7nSkin span.mce_charmap {background-position:-240px 0}
.s7nSkin span.mce_paste {background-position:-560px 0}
.s7nSkin span.mce_copy {background-position:-700px 0}
.s7nSkin span.mce_cut {background-position:-680px 0}
.s7nSkin span.mce_blockquote {background-position:-220px 0}
.s7nSkin .mce_forecolor span.mceAction {background-position:-720px 0}
.s7nSkin .mce_backcolor span.mceAction {background-position:-760px 0}
.s7nSkin span.mce_forecolorpicker {background-position:-720px 0}
.s7nSkin span.mce_backcolorpicker {background-position:-760px 0}

/* Plugins */
.s7nSkin span.mce_advhr {background-position:-0px -20px}
.s7nSkin span.mce_ltr {background-position:-20px -20px}
.s7nSkin span.mce_rtl {background-position:-40px -20px}
.s7nSkin span.mce_emotions {background-position:-60px -20px}
.s7nSkin span.mce_fullpage {background-position:-80px -20px}
.s7nSkin span.mce_fullscreen {background-position:-100px -20px}
.s7nSkin span.mce_iespell {background-position:-120px -20px}
.s7nSkin span.mce_insertdate {background-position:-140px -20px}
.s7nSkin span.mce_inserttime {background-position:-160px -20px}
.s7nSkin span.mce_absolute {background-position:-180px -20px}
.s7nSkin span.mce_backward {background-position:-200px -20px}
.s7nSkin span.mce_forward {background-position:-220px -20px}
.s7nSkin span.mce_insert_layer {background-position:-240px -20px}
.s7nSkin span.mce_insertlayer {background-position:-260px -20px}
.s7nSkin span.mce_movebackward {background-position:-280px -20px}
.s7nSkin span.mce_moveforward {background-position:-300px -20px}
.s7nSkin span.mce_media {background-position:-320px -20px}
.s7nSkin span.mce_nonbreaking {background-position:-340px -20px}
.s7nSkin span.mce_pastetext {background-position:-360px -20px}
.s7nSkin span.mce_pasteword {background-position:-380px -20px}
.s7nSkin span.mce_selectall {background-position:-400px -20px}
.s7nSkin span.mce_preview {background-position:-420px -20px}
.s7nSkin span.mce_print {background-position:-440px -20px}
.s7nSkin span.mce_cancel {background-position:-460px -20px}
.s7nSkin span.mce_save {background-position:-480px -20px}
.s7nSkin span.mce_replace {background-position:-500px -20px}
.s7nSkin span.mce_search {background-position:-520px -20px}
.s7nSkin span.mce_styleprops {background-position:-560px -20px}
.s7nSkin span.mce_table {background-position:-580px -20px}
.s7nSkin span.mce_cell_props {background-position:-600px -20px}
.s7nSkin span.mce_delete_table {background-position:-620px -20px}
.s7nSkin span.mce_delete_col {background-position:-640px -20px}
.s7nSkin span.mce_delete_row {background-position:-660px -20px}
.s7nSkin span.mce_col_after {background-position:-680px -20px}
.s7nSkin span.mce_col_before {background-position:-700px -20px}
.s7nSkin span.mce_row_after {background-position:-720px -20px}
.s7nSkin span.mce_row_before {background-position:-740px -20px}
.s7nSkin span.mce_merge_cells {background-position:-760px -20px}
.s7nSkin span.mce_table_props {background-position:-980px -20px}
.s7nSkin span.mce_row_props {background-position:-780px -20px}
.s7nSkin span.mce_split_cells {background-position:-800px -20px}
.s7nSkin span.mce_template {background-position:-820px -20px}
.s7nSkin span.mce_visualchars {background-position:-840px -20px}
.s7nSkin span.mce_abbr {background-position:-860px -20px}
.s7nSkin span.mce_acronym {background-position:-880px -20px}
.s7nSkin span.mce_attribs {background-position:-900px -20px}
.s7nSkin span.mce_cite {background-position:-920px -20px}
.s7nSkin span.mce_del {background-position:-940px -20px}
.s7nSkin span.mce_ins {background-position:-960px -20px}
.s7nSkin span.mce_pagebreak {background-position:0 -40px}
.s7nSkin .mce_spellchecker span.mceAction {background-position:-540px -20px}
